/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */

*{
    margin: 0;
    padding: 0;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;  /* Makes font rendering in a perfect way */
}


/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

header {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/background-min.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.welcome-div {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 650px;
    width: 450px;
    box-shadow: inset 0 0 20px rgb(0,0,0), inset 0 -10px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
    /*
        inset: shadow inside of the box
        first value: horizontal movement of the shadow
        second value: vertical movement of the shadow
        third value: the amount of spread of the shadow
        fourth value: the shadow color
    */
    border-radius: 15px;

    /* To align horizontally and vertically */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.my-picture {
    width: 35%;
    margin: 40px auto 0 auto;
}

.my-picture img {
    width: 100%;
    height: auto;
    border-radius: 40%;
    filter: contrast(140%);
}

h1, h2 {
    color: #fff;
    font-weight: 400;
}

.welcome-div h1 {
    font-size: 200%;
}

.welcome-div h2 {
    font-size: 100%;
    padding-bottom: 10px;
}

.welcome-div p {
    text-align: justify;
    font-size: 80%;
    color: #fff;
    padding: 20px 40px 10px 40px;
}

.social-icons {
    width: 100%;
    position: absolute;
    bottom: 25px;
}

.social-icons ul {
    width: 90%;
    margin: 0 auto;
}

.social-icons ul li {
    position: relative;
	list-style: none;
	display: inline-block;
	margin: 5px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	font-size: 25px;
	background: #fff;

	z-index: 1;
}

.social-icons ul li a:link,
.social-icons ul li a:visited {
    display: block;
    color: #262626;
    transition: 0.5s ease-in-out;
}

.social-icons ul li:hover a,
.social-icons ul li:active a {
    color: #fff;
}

.social-icons ul li:before {
	/* To fill the whole space of li */
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	background: #ff003b; /* Same as the body color */
	/* To fill the whole space of li */


	z-index: -1;

	transform: scale(0);
	transition: 0.5s ease-in-out; /* Ease in out is an animation effect with slow start and slow end */
}

.social-icons ul li:hover:before {
	transform: scale(0.9);
}
